<!DOCTYPE html>
<html>
<head>
    <title>活动管理表</title>
		<#include "/header.html">
</head>
<body  class="sub-content">
<div id="rrapp" v-cloak>
    <div v-show="showList">
		<form class="layui-form searchForm" lay-filter="searchForm" action="">
			<div class="layui-inline">
				<input type="text" class="layui-input" v-model="q.name" @keyup.enter="query" placeholder="活动名称">
			</div>

			<button type="button" class="layui-btn"  @click="query">查询</button>
		</form>
		<div class="layui-btn-group">
			<button class="layui-btn  " @click="add" title="新增"><i class="layui-icon layui-icon-add-1"></i></button>
			<button class="layui-btn  " @click="update" title="修改"><i class="layui-icon layui-icon-edit"></i></button>
			<button class="layui-btn  " @click="del" title="删除"><i class="layui-icon layui-icon-delete"></i></button>
			<button class="layui-btn  " @click="updateStatus1" title="启用">启用</button>
			<button class="layui-btn  " @click="updateStatus0" title="关闭">关闭</button>
		</div>
		<strong><font color="red">&nbsp;&nbsp;&nbsp;注意！每次只能“启用”一个活动</font></strong>
		<table id="listData" lay-filter="listData"></table>
    </div>

    <div v-show="!showList"  class="layui-card">
		<div class="layui-card-header">{{title}}</div>
		<div class="layui-card-body" >
			<form class="layui-form"  lay-filter="myForm">
				<div class="layui-form-item">
					<label class="layui-form-label">活动名称</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input" v-model="activityinfo.name" placeholder="活动名称"/>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">活动状态</label>
					<div class="layui-input-block">
						<select lay-filter="status" class="layui-input" v-model="activityinfo.status" >
							<option value="0">关闭</option>
							<option value="1">启用</option>
						</select>
						<!-- <input type="text" class="layui-input" v-model="activityinfo.status" placeholder="是否启用状态（0：关闭 1：启用）"/> -->
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">展示次数</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input" v-model="activityinfo.number" placeholder="展示次数"/>
					</div>
				</div>
				
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit lay-filter="*" >确定</button>
						<button type="button" class="layui-btn layui-btn-primary" @click="reload" >返回</button>
					</div>
				</div>
        	</form>
		</div>
    </div>
</div>
<script type="text/html" id="toptoolbar"></script>
<script type="text/html" id="operationBar">
    <a class="layui-btn layui-btn-sm"  lay-event="look" title="查看"><i class="layui-icon layui-icon-search"></i></a>
</script>
<script src="${request.contextPath}/statics/js/modules/activityinfo/activityinfo.js?_${.now?long}"></script>
</body>
</html>