<!DOCTYPE html>
<html>
<head>
    <title></title>
	<#include "/header.html">
	<script src="${request.contextPath}/statics/plugins/echarts/echarts.min.js?_${.now?long}"></script>
</head>
 
<body class="sub-content" onload="init()">
	<div align="center" style=" letter-spacing:3px">
	选择类型:<select id="searchType" width="100px" onchange="init()">
			<option value="1">省市</option>
			<option value="2">产品类型</option>
			<option value="3">购买时间</option>
		</select>
	</div>
    <div id="main" style="width: 1200px;height:550px;"></div>
    <script type="text/javascript">
    	//默认设置 searchType 为1
    	$("#searchType").val("1");
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        var xdata;
        var ydata;

        function init(){
            var searchType = $("#searchType").val();
            console.log(searchType);
        	 $.ajax({
                 type: "POST",
                 data: {"type" : searchType},
                 url: "${request.contextPath}/buyinfo/bar",
                 dataType: "json",
                 success: function(result){
                	 xdata  = result.data.xAxisData;
                	 ydata  = result.data.seriesData;
                	 var option = {
                	            title: {
                	                text: '柱状图展示'
                	            },
                	            tooltip: {},
                	            legend: {
                	                data:xdata
                	            },
                	            xAxis: {
                	                data: xdata,
                	                axisLabel: {  
                                        interval: 0, 
                                        rotate:40  
                                    }  
                	            },
                	            dataZoom: [ {
                	                type: 'slider',
                	                show: true,
                	                start: 0,
                	                end: 20,
                	                handleSize: 8,
                	                bottom:-10
                	            },
                	            {
                	                type: 'inside',
                	                start: 0,
                	                end: 20
                	            }],
                	            yAxis: {
                	            	//min: 'dataMin', // 最小值
                	            	minInterval: 1
                   	            },
                	            series: [{
                	                name: '数量',
                	                type: 'bar',
                	                barMaxWidth:'30%',
                	                data: ydata
                	            }]
                	        };
                	 myChart.setOption(option,true);
                 }
             });
        }
    </script>
</body>
</html>