<!DOCTYPE html>
<html>
<head>
    <title></title>
	<#include "/header.html">
	<script src="${request.contextPath}/statics/plugins/echarts/echarts.min.js?_${.now?long}"></script>
</head>
 
<body  class="sub-content" onload="init()">
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        function init(){
        	 $.ajax({
                 type: "POST",
                 data: {"type" : 4},
                 url: "${request.contextPath}/buyinfo/bar",
                 dataType: "json",
                 success: function(result){
                	 xdata  = result.data.xAxisData;
                	 ydata  = result.data.seriesData;
                	// 指定图表的配置项和数据
                     var option = {
                     		 tooltip: {
                     		        trigger: 'item',
                     		        formatter: '{a} <br/>{b}: {c} ({d}%)'
                     		    },
                     		    legend: {
                     		        orient: 'vertical',
                     		        left: 10,
                     		        data: xdata
                     		    },
                     		    series: [
                     		        {
                     		            name: '回访统计',
                     		            type: 'pie',
                     		            radius: ['50%', '70%'],
                     		            avoidLabelOverlap: false,
                     		            label: {
                     		                normal: {
                     		                    show: false,
                     		                    position: 'center'
                     		                },
                     		                emphasis: {
                     		                    show: true,
                     		                    textStyle: {
                     		                        fontSize: '30',
                     		                        fontWeight: 'bold'
                     		                    }
                     		                }
                     		            },
                     		            labelLine: {
                     		                normal: {
                     		                    show: false
                     		                }
                     		            },
                     		            data: ydata
                     		        }
                     		    ]
                     };
                	 myChart.setOption(option,true);
                 }
             });
        }
    </script>
</body>
</html>