<!DOCTYPE html>
<html>
<head>
<title>菜单管理</title>
<#include "/header.html">
	<link rel="stylesheet" href="${request.contextPath}/statics/plugins/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">
	<script src="${request.contextPath}/statics/plugins/ztree/js/jquery.ztree.all.min.js"></script>
</head>
<body class="sub-content">
<div id="rrapp" v-cloak>
	<div v-show="showList">

			<form class="layui-form searchForm" lay-filter="searchForm" action="">
				<div class="layui-inline">
					<input type="text" class="layui-input"  v-model="q.name"  placeholder="请输入菜单名称">
				</div>
				<div class="layui-inline">
					<select lay-filter="searchKind" class="layui-input" v-model="q.kind" >
						<option value="0">后台管理</option>
						<option value="1">网站</option>
					</select>
				</div>
				<div class="layui-inline" v-if="q.kind==1">
					<select lay-filter="searchLan" class="layui-input" v-model="q.language" >
						<option value="1">中文</option>
						<option value="2">英文</option>
					</select>
				</div>

				<button type="button" class="layui-btn"  @click="query">查询</button>
			</form>
			<div class="layui-btn-group ">
				<#if shiro.hasPermission("sys:menu:save")>
				<button class="layui-btn  " @click="add" title="新增"><i class="layui-icon layui-icon-add-1"></i></button>
				</#if>
				<#if shiro.hasPermission("sys:menu:update")>
				<button class="layui-btn  " @click="update" title="修改"><i class="layui-icon layui-icon-edit"></i></button>
				</#if>
				<#if shiro.hasPermission("sys:menu:delete")>
				<button class="layui-btn  " @click="del" title="删除"><i class="layui-icon layui-icon-delete"></i></button>
				</#if>
			</div>


		<table class="layui-table layui-form" id="tree-table" lay-size="sm"></table>

	</div>

	<div v-show="!showList"  class="layui-card">
		<div class="layui-card-header">{{title}}</div>
		<div class="layui-card-body" >
			<form class="layui-form"  lay-filter="myForm">
			<div class="layui-form-item">
				<label class="layui-form-label">类型</label>
				<div class="layui-input-block">
					<input type="radio" lay-filter="mType" name="type" value="0" v-model="menu.type" title="目录"/>
					<input type="radio" lay-filter="mType" name="type" value="1" v-model="menu.type" title="菜单"/>
					<input type="radio" lay-filter="mType" name="type" value="2" v-model="menu.type" title="按钮"/>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">菜单名称</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" v-model="menu.name" placeholder="菜单名称或按钮名称"   lay-verify="required"/>
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">菜单类型</label>
				<div class="layui-input-block">
					<input type="radio" lay-filter="mKind" name="kind" value="0" v-model="menu.kind" title="后台菜单"/>
					<input type="radio" lay-filter="mKind" name="kind" value="1" v-model="menu.kind" title="网站菜单"/>
				</div>
			</div>
			<div v-if="menu.kind == 1" class="layui-form-item">
				<label class="layui-form-label">菜单语言</label>
				<div class="layui-input-block">
					<input type="radio" lay-filter="mLanguage" name="language" value="1" v-model="menu.langeuage" title="中文"/>
					<input type="radio" lay-filter="mLanguage" name="language" value="2" v-model="menu.langeuage" title="英文"/>
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">上级菜单</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" style="cursor:pointer;" v-model="menu.parentName" @click="menuTree" readonly="readonly" placeholder="一级菜单"/>
				</div>
			</div>
			<div v-if="menu.type == 1"class="layui-form-item">
				<label class="layui-form-label">菜单URL</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" v-model="menu.url" placeholder="菜单URL"  lay-verify="required"/>
				</div>
			</div>
			<div v-if="menu.type == 1 || menu.type == 2" class="layui-form-item">
				<label class="layui-form-label">授权标识</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" v-model="menu.perms" placeholder="多个用逗号分隔，如：user:list,user:create"/>
				</div>
			</div>
			
			<div v-if="menu.type != 2" class="layui-form-item">
				<label class="layui-form-label">排序号</label>
				<div class="layui-input-block">
					<input type="number" class="layui-input" v-model="menu.orderNum" placeholder="排序号"/>
				</div>
			</div>
			<div v-if="menu.type != 2" class="layui-form-item">
				<label class="layui-form-label">图标</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" v-model="menu.icon" placeholder="菜单图标"/>
					<code style="margin-top:4px;display: block;">获取图标：http://www.fontawesome.com.cn/faicons/</code>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="*" >确定</button>
					<button type="button" class="layui-btn layui-btn-primary" @click="reload" >返回</button>
				</div>
			</div>
		</form>
		</div>
	</div>
</div>

<!-- 选择菜单 -->
<div id="menuLayer" style="display: none;padding:10px;">
	<ul id="menuTree" class="ztree"></ul>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/menu.js?_${.now?long}"></script>
</body>
</html>