<!DOCTYPE html>
<html>
<head>
    <title>出库A表导入页面</title>
		<#include "/header.html">
</head>
<body  class="sub-content">
<div id="rrapp2" v-cloak>
    <div v-show="true"  class="layui-card">
		<div class="layui-card-body" >
			<form class="layui-form"  lay-filter="myForm">
				<div class="layui-form-item">
                       <label class="layui-form-label"><span class="layui-bg-red">*</span>类型：</label>
                       <div class="layui-input-block">
                           <select  class="layui-input" lay-filter="impTypeSelect"  v-model="q.impType" name="impType"  id="impType" lay-verify="required"  placeholder="必填項">
								<option value="1">京东</option>
								<option value="2">天猫</option>
								<option value="3">淘宝</option>
								<option value="4">拼多多</option>
							</select>
                       </div>
                </div>
				<!-- <div class="layui-form-item">
					<label class="layui-form-label">选择文件</label>
					<button type="button" class="layui-btn" id="storageaUpload"><i class="layui-icon"></i>上传文件</button>
				</div> -->
				<div class="layui-form-item" id="chooseDiv" style="display:none;">
					  <label class="layui-form-label">选择文件</label>
					  <button type="button" class="layui-btn layui-btn-normal" id="chooseFile">选择文件</button>
				</div>
				<div class="layui-form-item" >
					<div class="layui-input-block" id="btnDiv"  style="display:none;"><!-- style="display:none;" -->
						<button type="button" class="layui-btn" id="shipmentaUpload" >确定</button>
						<!-- <button class="layui-btn" lay-submit lay-filter="*" >确定</button> -->
						<button type="button" class="layui-btn layui-btn-primary" @click="cancle" >取消</button>
					</div>
				</div>
        	</form>
        	
		</div>
    </div>
</div>
<script type="text/html" id="toptoolbar"></script>
<script type="text/html" id="operationBar">
</script>
<script src="${request.contextPath}/statics/js/modules/shipmenta/importPage.js?_${.now?long}"></script>
</body>
</html>