<!DOCTYPE html>
<html>
<head>
	<title>数据转换平台</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <script>
        var time=5;
        function closeWindow(){
            window.setTimeout('closeWindow()',1000);
            if(time>0){
                document.getElementById("daojishi").innerHTML=" 倒计时<font color=red>"+time+"</font>秒后关闭当前窗口";
                time--;
            }
            else{
                window.opener=null; //关闭窗口时不出现提示窗口
                window.close();
            }
        }
    </script>
</head>
<body onload="closeWindow()" >
<div id="daojishi">
    倒计时5秒后关闭当前窗口
</div>
</body>
</html>
