<!DOCTYPE html>
<html>
<head>
	<title>网点数据核销</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/statics/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/admin.css">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/login.css">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style>
  	html,body{width:100%;height:100%;min-width:300px;min-height:400px;}
  </style>
</head>
<body layadmin-themealias="default" >
 <div id="rrapp" class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;" v-cloak>

    <div class="layadmin-user-login-main">
      <div class="layadmin-user-login-box layadmin-user-login-header">
        <h2>网点数据核销</h2>
        <p></p>
      </div>
      <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
      	<!-- <div v-if="error" class="error-info">
			<h4><i class="fa fa-exclamation-triangle"></i> {{errorMsg}}</h4>
		</div> -->
          <div class="layui-form-item">
              <select name="hd" id="hd">
                  <option value="">请选择网点</option>
              </select>
          </div>
        <div class="layui-form-item">
            <input type="text" name="txt" v-model="txt" d="LAY-user-login-username" lay-verify="required" placeholder="彩票唯一编码 or 手机号" class="layui-input">
        </div>
        <div class="layui-form-item">
          <button class="layui-btn layui-btn-fluid"  @click="getUser">点击查询用户数据</button>
        </div>
          <div class="layui-form-item">
              <div id="show"></div>
          </div>
          <div class="layui-form-item" id="hxDiv" style="display: none">
              <button class="layui-btn layui-btn-fluid"  @click="hxUser">点击核销数据</button>
          </div>
      </div>
    </div>
    

    
  </div>
  
<script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
<script src="${request.contextPath}/statics/libs/vue.min.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/plugins/layui/layui.js"></script>
<script type="text/javascript">
var layer,localLayer,form;
layui.use(['layer','form'],function(){
    layer = top.layer;//在最外层弹出
    localLayer = layui.layer;//在内容区弹出
    form = layui.form;
    // alert('${request.contextPath}');
    $.ajax({
        type: "POST",
        url: "${request.contextPath}/wx/getHdData",
        dataType: "json",
        success: function(result){
            if(result.acSize > 0){
                $.each(result.acList, function (index, item) {
                    $('#hd').append(new Option(item.activityName,item.activityId));// 下拉菜单里添加元素
                });
                selList = result.acList;
                layui.form.render("select");
            }
        }
    });
});
var vm = new Vue({
	el:'#rrapp',
	data:{
		txt: '',
        selList: '',
        openId: ''
	},
	beforeCreate: function(){
		if(self != top){
			top.location.href = self.location.href;
		}
	},
	methods: {
        hxUser : function(){
            var hd = $("#hd").val();
            if(hd == ''){
                alert("请选择活动!");
                return;
            }
            var data = "openId="+vm.openId+"&activityId="+hd;
            $.ajax({
                type: "POST",
                url: "${request.contextPath}/wx/hxUser",
                data: data,
                dataType: "json",
                success: function(result){
                    if(result.success){
                        alert("核销成功");
                        window.location.reload();
                    }else{
                        //没数据
                        alert("此用户已被核销,请重新查询用户信息!");
                        window.location.reload();
                    }
                }
            });
        },
        getUser : function(){
            $("#hxDiv").css('display','none');
            var hd = $("#hd").val();
            if(hd == ''){
                alert("请选择活动!");
                return;
            }
            var data = "txt="+vm.txt+"&activityId=" + hd;
            $.ajax({
                type: "POST",
                url: "${request.contextPath}/wx/getUser",
                data: data,
                dataType: "json",
                success: function(result){
                    if(result.isData){
                        var data = result.user;
                        // alert(data);
                        var html = "";
                        if(data.state == 0){
                            alert("当前用户未被核销");
                            html = "当前用户未被核销";
                            $("#hxDiv").css('display','block');
                            vm.openId = data.openId;
                        }else{
                            alert("当前用户已被核销");
                            html= "当前用户已被核销";
                            window.location.reload();
                        }
                        $("#show").html(html);
                    }else{
                        //没数据
                        $("#show").html("没有查到相关信息,请检查输入是否正确!");
                    }
                }
            });
        }
	}
});
</script>

</body>
</html>
