<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wx跳转测试</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/statics/plugins/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/statics/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/statics/css/index.css">
</head>
<body>
<div>
    <input id="hid" type="hidden" value="${type}">
    <!-- 顶部区域 -->
    <div id="show" align="center" style="display:none">
        恭喜参加活动成功!!! <br>
        以下是您的个人信息,请注意保存: <br>
        彩票识别码:${wxEntity.wxUserEntity.userCode} <br>
        扫码加好友(长按图片识别二维码): <br>
        <img src="${wxEntity.qrUrl}" width="400px">
    </div>
</div>

<script type="text/javascript" src="${request.contextPath}/statics/libs/jquery.min.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/plugins/layui/layui.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/libs/vue.min.js"></script>
<script>
    var hid = $("#hid").val();
    var openId = "${wxEntity.wxUserEntity.openId}";
    var phone = "${phone}";
    //alert("phone -- >" + phone);
    if(phone != ''){
        $("#show").css("display","block");
    }else{
        if(hid == '1'){ //第一种
            $("#show").css("display","block");
        }else if(hid == '2'){
            parent.location.href ='${request.contextPath}/wx/phone?openId='+openId;
        }else{
        	parent.location.href ='${request.contextPath}/wx/customer?openId='+openId;
        }
    }
</script>
</body>
</html>
